
/* REMOVE THE ABOVE IF PASS ON BUBBLE */






.container-fluid{
    display: flex;
    height: 100;
    width: 800px;
    margin: 15px;
    /* 15px is looking the best for screen coverage */

}

.card1{
    margin:3px;
    background-color: rgb(238, 171, 14);
    box-shadow: gray;
    /* box-shadow: 5px 5px 5px 5px #e9e6e6; */
    border: solid black 1.3px;

}
.btn-outline-dark{
    color: #FFFFFF;
    background-color: rgb(235, 195, 20);
    margin-left:10px ;
    margin-bottom: 20px;
    text-decoration:none;
    
}


.card1-title {
    text-shadow: 1px 1px 2px gray;

    border-radius: 20px;
    padding: 10px;
    font-weight: 900;
    text-align: left;
    display: block;
    inline-size: min-content;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 80px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;  
      font-size: 40px;
      box-shadow: 3px 3px 3px 3px #FFFFFF;

}

.sub-card{
    /* text-align: right; */
    display: block;
    /* inline-size: min-content; */
    margin-left:55%;
    margin-top: 15px;
    margin-right: 10px;
    text-shadow: 1px 1px 2px gray;
    box-shadow: 3px 3px 3px 3px #FFFFFF;
    border-radius: 20px;
    padding: 10px;

}
.card-text{
    text-align: right;
    font-weight: 900;
    inline-size: min-content;

   
}

.card2{
    background-color: black;
    /* box-shadow: 5px 5px 5px 5px #e9e6e6; */
    background-position:50% 50% ;
    /* /* background-size: cover; */
    background-repeat: no-repeat; 
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    margin-left: 2.5px;
    padding: 1px;
    border: solid black 1.3px;


}

.carousel-item{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* overflow: hidden; */
    width:500px;
    height:300px;

}

.carousel-item > .img{

    object-fit: cover;

    width:100%;
    height:100%;

}

.card3{
    margin:2.5px; 
    border: solid black 1.3px;

    /* box-shadow: 5px 5px 5px 5px #c7c7c7; */
    margin:2.5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),  url(./images/cloverroad.png);
    background: position content-box;   
    background-size:cover;   background-repeat: no-repeat;
}
.card3-title{
    color: #f0ad4e;
    margin-bottom: 80px;
    text-align: left;
    display: block;
    inline-size: min-content;
    overflow-wrap: break-all;
    font-size: 30px;



    
}
.card3-text{
    color: white;
    margin-bottom: 200px;
    text-align: left;
    display: block;
    overflow-wrap: break-word;
}

.img{
    height: auto;
    width: fit-content;
    margin:25px;
    box-shadow: gray;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: auto;

    
}
.card4{
    /* box-shadow: 5px 5px 5px 5px #c7c7c7; */
    margin:2.5px;
    background-color: rgb(238, 171, 14);
    box-shadow: gray;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)),  url(./images/teamwork.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border: solid black 1.3px;


}

.card4-title{
    color: #f0ad4e;
    margin-bottom: 39px;
    text-align: left;
    display: block;
    inline-size: min-content;
    overflow-wrap: break-all;
    font-size: 31px;

}
.card5{
    /* box-shadow: 5px 5px 5px 5px #c7c7c7; */
    margin:2.5px;
    background-color: #100f0e;
    box-shadow: gray;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),  url(./images/tires.png);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    border: solid black 1.3px;

}

.card5-title{
    color: #f0ad4e;
    margin-bottom: 45px;
    text-align: left;
    display: block;
    inline-size: min-content;
    overflow-wrap: break-word;
    font-size: 30px;
}


.card-text{
    padding: 75px;
}
.a{
    padding: 200px;
    position: relative;
}

.container2-fluid{
    display: flex;
    height: 100%;
    width: 800px;
    margin: 0px;
}
.panel{
    height: 100%;
}
.card6{
    background-color: #5e5e5e;
    margin: 2.5px;
    box-shadow: gray;
    border: solid black 1.3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),  url(./images/bullhornanimate.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #19bbcd;

    

    /* box-shadow: 5px 5px 5px 5px #c7c7c7; */
}
.card6-title{
    color: rgb(238, 171, 14);
    font-size: 45px;
}
.card7{
    background-color: #5e5e5e;
    margin: 2.5px;
    box-shadow: gray;
    border: solid black 1.3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),  url(./images/puzzle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fdaf17;

    /* box-shadow: 5px 5px 5px 5px #c7c7c7; */
}
.card7-title{
    color: rgb(238, 171, 14);
    font-size: 45px;
}

.btn-outline-light{
    color: lightseagreen;
}